<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('register_live') }}">Register Live</a></li>
            <li><a href="{{ url_for('queue_live') }}">Queue Live</a></li>
            <li><a href="{{ url_for('queue') }}">Queue</a></li>
            <li><a href="{{ url_for('data') }}">Data</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
        {% if response %}
            <h3>{{ response.message }}</h3>
            <img src="{{ response.image_url }}" alt="Uploaded Image">
        {% endif %}
    </div>
</body>
</html>
